{% extends 'base.html.twig' %}

{% block title %}Inscription réussie !
{% endblock %}

{% block body %}
<div class="container">
  <h1 class="h4 mb-5 mt-5 text-center">Votre compte a été créé avec succès !</h1>
  <p>Ouvrez maintenant votre boîte mail pour confirmer votre adresse.</p>
</div>
{% endblock %}
