{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous !{% endblock %}

{% block body %}
  <h1 class="text-center">Formulaire d'inscription</h1>
{% endblock %}

{% block javascripts %}{% endblock %}