<div class="container">
{{ form_start(inscriptionForm) }}
        {{ form_row(inscriptionForm.username) }}
        {{ form_row(inscriptionForm.plainPassword) }}

        <button class="btn">S'inscrire</button>
    {{ form_end(inscriptionForm) }}
</div>