{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container text-center">
		<form method="POST">
			<h2 class="mb-4">
				Dossiers à traiter :
				{{ statsDossiersTraites.nb_dossiers - statsDossiersTraites.nb_traites }}
				/
				{{ statsDossiersTraites.nb_dossiers }}
			</h2>
			<button class="btn btn-primary" formaction="{{ path('dossiersCandidats') }}" class="btn btn-outline-primary btn-block mx-auto">
				Consulter les dossiers
			</button>
		</form>
	</div>
{% endblock %}
