<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel='icon' href='/img/favicon.png' type='image/png' />
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </head>
    <body>
    <div class="col-8 offset-4 m-auto text-center">
        <img src="{{ asset('img/lycee_guisthau.png') }}" alt="Lycée Guist'hau" class="rounded mx-auto d-block">
        <h1 class="col-10 offset-4 mx-auto" style="margin: 20px">Classe Préparatoire Ciné-Sup</h1>
    </div>
    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}
    </body>
</html>
